.identifier_form, .human_name_form, .contact_point_form, .address_form, .codeable_concept_form, .attachment_form, .animal_form, .communication_form, .link_form, .practitioner_form{
    background-color: #f0f0f0;
    margin-left: 20px;
    margin-top: 20px;
    padding: 20px 0 20px 20px;
}

.submit_button {
    margin-top: 2em;
    color: white;
}

.codeable_concept_form {
    margin: 20px 40px 20px 40px;
    border-top: 1px solid #afafaf;
    border-bottom: 1px solid #afafaf;
    padding: 20px 20px 20px 20px;
}

.row {

}

.key {
    float: left;
    font-size: 14px;
    font-weight: bold;
    padding-right: 20px;
    line-height: 40px;
}

.value {
    padding: 10px 0;
}

.fa-trash-o:before {
    font-size: 18px;
}

.input[type="text"] {
    color: rgba(175, 175, 175, 0.9);
}
